# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

node_modules
dist
*.log
.DS_Store

*storybook.log
storybook-static

# GitHub Pages / Storybook build output
public
