@import "tailwindcss";
@import "tw-animate-css";
@import "../src/styles/theme.css";
@import "vue-sonner/style.css";

@custom-variant dark (&:is(.dark *));

@source "../src";

@theme {
  --font-sans: system-ui, sans-serif;
  --font-size: 14px;
}

body {
  color: var(--color-text-primary);
  background-color: #f0f2f5;
}

.dark body {
  background-color: #0f1218;
}
